<%- include ('./partials/header.ejs') %>
  <section>
      <div class="a">
            <div class="aa">
                <img src="assets/text1.png">
            </div>
            <div class="ab">
                <div class="aba">
                 
                <select>
                    <option>Delhi</option>
                    <option>Lucknow</option>
                    <option>Kanpur</option>
                    <option>Bhopal</option>
                    <option>Chandigarh</option>
                    <option>Mumbai</option>
                    <option>Chennai</option>
                </select>
        
            </div>
            <div class="abb">
                <input id="in" type="text" placeholder="what are u searching for??">
            </div>
            </div>
      </div>
      <div class="z">
            <h2>
                DOOR WHERE AFFORDABILITY MEETS PROFESSIONALISM
            </h2>
      </div>
   
    <div class="y">      
      <div class="b">
          <div class="ba">
          </div>
          <div class="ba">
          </div>
          <div class="ba">
          </div>
          <div class="ba">
          </div>
      </div>

      <div class="c">
      <div class="c ca">
          <span>LABOUR</span>
          <span>MAID</span>
          <span>WORKER</span>
      </div>
      </div>
      <div class="d">
          <span>
              <img src="./assets/worker1.png">
              <div class="da">
                <!-- <h1>SKILLED AND AFFORDABLE LABOURS AT YOUR DOORSTEP</h1> -->
                <h1>
                    services starting at just Rs.220/day at your doorstep
                </h1>
              </div>
          </span>
          <span>
            <img src="./assets/maid1.png">
            <div class="da">
              <!-- <h1>SKILLED AND AFFORDABLE LABOURS AT YOUR DOORSTEP</h1> -->
              <h1>
                  services starting at just Rs.800/week at your doorstep
              </h1>
            </div> 
          </span>
          <span>
            <img src="./assets/i1.png">
            <div class="da">
              <!-- <h1>SKILLED AND AFFORDABLE LABOURS AT YOUR DOORSTEP</h1> -->
              <h1>
                  services starting at just Rs.300/day at your doorstep
              </h1>
            </div>
          </span>
      </div>
      <div class="c">
        <div class="c ca">
        </div>
        </div>
        <div class="d">
        </div>
        <div class="c">
            <div class="c ca">
            </div>
            </div>
            <div class="d">
            </div>
            <div class="c">
                <div class="c ca">
                </div>
                </div>
                <div class="d">
                </div>
                
            </div> 
        

                <div class="e">
                </div>   
  </section>


  <%-  include ('./partials/footer')  %>