<%- include ('./partials/header.ejs') %>
  <section>
      <div class="a">
            <div class="aa">
                <img src="assets/text1.png">
            </div>
            <div class="ab">
                <div class="aba">
                <select id="sel">
                    <option>Delhi</option>
                    <option>Lucknow</option>
                    <option>Kanpur</option>
                    <option>Bhopal</option>
                    <option>Chandigarh</option>
                    <option>Mumbai</option>
                    <option>Chennai</option>
                </select>
            </div>
            <div class="abb">
                <input id="in" type="text" placeholder="what are u searching for??">
            </div>
            </div>
      </div>
      <div class="b">
          <div class="ba"></div>
          <div class="ba"></div>
          <div class="ba"></div>
          <div class="ba"></div>
      </div>
      <div class="c">
      <div class="c ca">
      </div>
      </div>
      <div class="d">
      </div>
      <div class="c">
        <div class="c ca">
        </div>
        </div>
        <div class="d">
        </div>
        <div class="c">
            <div class="c ca">
            </div>
            </div>
            <div class="d">
            </div>
            <div class="c">
                <div class="c ca">
                </div>
                </div>
                <div class="d">
                </div>   
                <div class="e">
                </div>   
  </section>
  <script src="./js/script.js"></script>

  <%-  include ('./partials/footer')  %>