<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/">
        <input type="text" name="valet[name]" placeholder="NAME"> 
        <input type="text" name="valet[address]" placeholder="ADDRESS"> 
        <input type="text" name="valet[mobile]" placeholder="MOBILE NO."> 
        <input type="text" name="valet[job]" placeholder="JOB-TYPE">
        <input type="submit"> 
    </form>
</body>
</html>