<h1>create new user</h1>
<form method="POST" action="/theteam">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="category" placeholder="category">
        <button>submit</button>
</form>