*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    background:steelblue;
}
.brand{
    width:180px;
    height: 80%;
    align-items: center;
}
h2{
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 700;
}
#brand-name{
 display: inline-block;
 height: 100%; 
 position: relative;
 top: -11px;
 

 /* font-family: 'Permanent Marker', cursive; */
 /* font-family: 'Philosopher', sans-serif; */
 /* font-family: 'Volkhov', serif; */
 /* font-family: 'Josefin Slab', serif; */
 /* font-family: 'Patrick Hand', cursive; */
 font-family: 'Press Start 2P', cursive;
 /* font-family: 'Pontano Sans', sans-serif; */
 /* font-family: 'Parisienne', cursive; */
 left: 5px;
}
.brand img{
  
    height: 100%;
    border-radius: 20%;
}
.nav-links .brand  a{
     color:  black;  
    font-size: 2em;
    height: 100%;
    font-weight: 700;
    letter-spacing:.5px;
}
.nav-links{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav-links li a{
    text-decoration: none;
    color: #232323;
 font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 21px;  
}

.logo{
    display: none;
}




/* section */


.a{
    width:100%;
    height:600px;
    /* background:#999 ; */
    display: flex;
    flex-direction: column;
    background-image: url("../assets/first.jpg");
    background-size: cover;
    /* overflow: hidden; */

}

.aa{
    width: 75%;
    height:150px;
    background-color: black;
    opacity: 0.8;
    box-shadow: 3px 2px 2px black;
    margin: 90px auto 50px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    /* background-image: url("text1.png"); */

}
.aa img{
    width: 70%;
   
    z-index: 1;
    height: auto;
    /* vertical-align: middle; */
}
.ab{
    width: 75%;
    height:150px;
    /* background-color: black;
    opacity: 0.3; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.aba {
     width:30%;
     height: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

select{

    border: 1px solid transparent;
    color: black;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    width: 150px;
    height: 50px;
    text-align: center;
     outline: none;
     box-shadow: none;
     letter-spacing: .8px;
     border: 0;
}

.abb{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
input{
    color: black;
        border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    width: 350px;
    height: 50px;
    text-align: center;
     outline: none;
     box-shadow: none;
     letter-spacing: .8px;
     border: 0;
}
.z{
    width: 100%;
    padding-top: 30px;
    height: 100px;
    background-color: rgba(157, 189, 248, 0.493);
}
.y{
    width: 100%;
    background-image:linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-size: cover ;
}
.b{
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: url(../assets/hw1.jpg); */
    overflow: hidden;
    background-size: 60%;
}
.ba{
    width:230px;
    height:80%;
    background-size: 100%;
    border-radius: 4px;
    border-width: 2px;
    border-color: steelblue ;
    background-repeat: no-repeat;
    /* background-color: white; */
}
.ba:nth-child(1){
    background-image: url(../assets/hw10.jpg);
    background-position: center;
    /* background-size: 100%; */
}
.ba:nth-child(2){
    background-image: url(../assets/hw9.jpg);
    background-size: 100%;
    
    background-position: center;
}
.ba:nth-child(3){
    background-image: url(../assets/hw7.jpg);
    
    background-position: center;
    background-size: 110%;
}
.ba:nth-child(4){
    background-image: url(../assets/camera1.jpg);
    
    background-position: center;
    background-size: 100%;
}
 .ba:nth-child(1):hover{
    background-image: url(../assets/chef.png);
    background-position: center;
    background-color: black;
    background-size: 90%;
}
.ba:nth-child(2):hover{
    background-image: url(../assets/milk\ vender.png);
    background-color: black;
    background-size: 100%;
}
.ba:nth-child(3):hover{
    background-image: url(../assets/dskilled.png );
    background-position: center;
    background-size: 90%;
    background-color: black;
}
.ba:nth-child(4):hover{
    background-image: url(../assets/daffordable.png);
    background-color: black;
    background-size: cover;
} 
.ba img{
    width: 100%;
    height: 100%;
}
.c{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    opacity: 0.95;
}
.ca{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.ca span{
    width:27%;
    height: 100%;
    text-align: center;
    /* background-color: black; */
    border-radius: 4px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(51, 55, 61) ;
    padding-top: 11px;
}

.d{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width:100% ;
    
    height:340px;
}
.d span{
width: 27%;
border-width: 0px;
border-color: rgb(51, 55, 61);
border-radius: 4px;
height:100%;
display: flex;
flex-direction: column;
background-color: white;
justify-content: center;

}
.d span:nth-child(1) img{
    /* background-image: url(../assets/i1.png); */
    /* background-size: cover; */
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    
    width:80%;
    height: 40%;
    
}
.d span:nth-child(2) img{
    /* background-image: url(../assets/i1.png); */
    /* background-size: cover; */
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    width:80%;
    height: 40%;
    
}
.d span:nth-child(3) img{
    /* background-image: url(../assets/i1.png); */
    /* background-size: cover; */
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    
    width:80%;
    height: 40%;
    
}
h1{
    color: black;
    padding:0 20px;
    text-align: center;
    font-size: 22px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.da{

    /* border: 2px solid red ; */
    background-image: linear-gradient(to bottom, #dfe9f3 0%, #eee 100%);
    border-radius: 0 0 4px 4px;
    width: 80%;
    height: 40%;
    padding-top: 20px;
    margin: 0 auto;
}
.e{
    width: 100%;
    height:500px;
    background-image:   ;
    background-size:

}
footer{
    height:580px;
    width: 100%;
    background:black ;
}








@media screen and (max-width: 768px) and (min-width: 531px){
    .line{
        width:30px ;
        height: 3px;
        background: white   ;
        margin: 5px;
    }
    nav{
        position: relative;
    }
.brand{
    display: none;
}
.hamburger{
    position: absolute;
    top:50%;
    cursor: pointer;
    z-index: 2;
    transform: translate(-5%, -50%);
    right: 5%;
}
.logo{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: flex-start;
    
}
.logo img{
    height: 8vh;
    border-radius: 5px;
    margin:.5vh 1vh;
}
   .nav-links{
       
      position: fixed;
      width:100%;
      height: 60%;
      background: steelblue;
      flex-direction: column;
      clip-path: circle(10px at 50% -30%);
     -webkit-clip-path: circle(100px at 90% -10%) ;
     transition: all 1s ease-out;
     z-index: 5;
     pointer-events : none; 
  }
   .open{
    clip-path: circle(700px at 50% -50%);
    -webkit-clip-path: circle(600px at 90% -10%) ;   
    pointer-events: all;
  } 
  .b{
      flex-direction: row;
      height: 350px;
      align-items: center;
        flex-wrap: wrap;
  }
  .ba{
    width:250px;
    height:40%;
    border:2px solid black;
}

}
@media screen and (max-width: 531px){
    .line{
        width:30px ;
        height: 3px;
        background: white   ;
        margin: 5px;
    }
    nav{
        position: relative;
    }
.brand{
    display: none;
}
.hamburger{
    position: absolute;
    top:50%;
    cursor: pointer;
    z-index: 2;
    transform: translate(-5%, -50%);
    right: 5%;
}
.logo{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: flex-start;
    
}
.logo img{
    height: 8vh;
    border-radius: 5px;
    margin:.5vh 1vh;
}
   .nav-links{
       
      position: fixed;
      width:100%;
      height: 60%;
      background: steelblue;
      flex-direction: column;
      clip-path: circle(10px at 50% -30%);
     -webkit-clip-path: circle(100px at 90% -10%) ;
     transition: all 1s ease-out;
     pointer-events : none; 
  }
   .open{
    clip-path: circle(700px at 50% -50%);
    -webkit-clip-path: circle(600px at 90% -10%) ;  
    z-index: 10; 
    pointer-events: all;
  } 
  /* .a{
      background-image: url(''./asset/mobilefirst.jpg');
  } */
  .a{
    width:100%;
    height:375px;
    /* background:#999 ; */
    display: flex;
    flex-direction: column;
    background-image: url("../assets/mobilefirst.jpg");
    background-size: cover;
    /* overflow: hidden; */

}
  .b{
      flex-direction: row;
      height: 500px;
      align-items: center;
        flex-wrap: wrap;
  }
  .ba{
    width:250px;
    height:24%;
    border:2px solid black;
}
    .aa{
        display: none;
    }
    .ab{
        width: 90%;
        height:300px;
        margin: 0 auto;
        margin: auto auto;    
        display: flex;
        flex-direction: column;
        
    }
    .aba{
        width:250px;
        height:50%;
        justify-content: center;
    }
    .abb{
        width:250px;
        height: 50%;
        align-items: baseline;
        justify-content: center;
    }
    #in{
        width:230px;
    }

    }
